{% extends "layout.html.twig" %}

{% block content %}
    <div class="alert alert-warning" role="alert">
        <span class="glyphicon glyphicon-alert" aria-hidden="true"></span>
        Page not found.
    </div>
{% endblock %}
