{% extends "layout.html.twig" %}

{% block content %}
    <div class="alert alert-warning" role="alert">
        <span class="glyphicon glyphicon-alert" aria-hidden="true"></span>
        There's been an error on your client. You may
        want to check your request.
    </div>
{% endblock %}
