<footer class="footer navbar-inverse">
  <div class="container-fluid">
    <div class="text-center">
      <div class="">Last Updated: {{ app.updated|date() }}</div>
      <div class="">Metadata content licensed under
        <a href="http://creativecommons.org/licenses/by/3.0/">
          <span class="fa fa-cc"></span>
          BY 3.0</a>
      </div>
    </div>
  </div>
</footer>
