@import (reference) "../../vendor/twbs/bootstrap/less/variables";

/***Main***/
body {
  padding-top: 60px;
}

p.pre, span.pre {
  white-space: pre-wrap;
}

/***Panels***/
.panel-heading.collapsible {

  span:after {
    font-family:'Glyphicons Halflings';
    content:"\e113";
    float: right;
    color: @brand-primary;
  }

  &.collapsed span:after {
    content:"\e114";
  }

  &:hover {
    cursor: pointer;

    span:after {
      color: @link-hover-color;
    }
  }
}
//fix table rendering
td {
    max-width: 200px;
}

//fix dt column widths
#api-definitions .dl-horizontal {

  dd {
      margin-bottom: 10px;
  }

  @media (min-width: @grid-float-breakpoint) {
    dt {
      width: (@dl-horizontal-offset + 5);
    }
    dd {
      margin-left: (@dl-horizontal-offset + 25);
    }
  }
}