{% extends "layout.html.twig" %}

{% block title %} {{ title }} {% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-alert" aria-hidden="true"></span> Warning: Currently, this application should only be used for testing purposes.
        </div>
        <div class="page-header">
            <h1> Metadata Catalog <small class="hidden-xs">Browse project and product metadata</small></h1>
        </div>
        <p>
            The Metadata Catalog provides access to project and product(dataset)
            metadata. While the metadata is provided in multple formats, the
            catalog utilizes the mdJSON format as a datastore. mdJSON records
            are parsed to provide information about projects and products.
        </p>
        <p>
            The Catalog application is backed by a RESTful API. Currently, the
            API is read-only(only GET requests are supported).
        </p>
        <p>
            Use the interface to explore the API. A json array of all
            <a href="{{ path('metadatabase', {id: 'product', format: 'json'}) }}">Products</a> or
            <a href="{{ path('metadatabase', {id: 'project', format: 'json'}) }}">Projects</a> is also available.
            This page will be updated with more
            documentation soon...
        </p>
    </div>
</div>
{% endblock %}
