{% extends "layout.html.twig" %}

{% block title %} {{ title }} {% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-alert" aria-hidden="true"></span> Warning: Currently, this application should only be used for testing purposes.
        </div>
        <div class="page-header">
            <h1> Metadata Catalog <small class="hidden-xs">Browse project and product metadata</small></h1>
        </div>
        <p>
            The Metadata Catalog provides access to project and product(dataset)
            metadata. While the metadata is provided in multple formats, the
            catalog utilizes the <a href="http://www.adiwg.org/projects/#mdjson-schemas">mdJSON</a> format as a datastore. mdJSON records
            are parsed to provide information about projects and products. HTML
            and XML metadata was produced using the <a href="http://www.adiwg.org/mdTranslator/about/">ADIwg mdTranslator</a>.
        </p>
        <h2>API</h2>
        <p>
            The Catalog application is backed by a simple RESTful API. Currently, the
            API is read-only(only GET requests are supported).
        </p>
        <p>
            Use the interface to explore the API. A json array of all
            <a href="{{ path('metadatabase', {id: 'product', format: 'json'}) }}">Products</a> or
            <a href="{{ path('metadatabase', {id: 'project', format: 'json'}) }}">Projects</a> is available.
        </p>
        <div class="well" id="api-definitions">
            <h3>GET</h3>
            <dl class="dl-horizontal">
                <dt>
                    .../
                </dt>
                <dd>
                    Returns the homepage(HTML-only)
                </dd>
                <dt>
                    .../{entity}[.{format}]
                </dt>
                <dd>
                    Returns an array of entities in the desired format
                    <ul>
                        <li>
                            <i>entity</i> = [project | product]
                        </li>
                        <li>
                            <i>format</i> = [<strong>json</strong>]
                        </li>
                    </ul>
                </dd>
                <dt>
                    .../{entity}/[view]
                </dt>
                <dd>
                    Returns the entity homepage displaying a list of entities
                    <ul>
                        <li>
                            <i>entity</i> = [project | product]
                        </li>
                        <li>
                            Note: a request to <i>.../{entity}/</i> will redirect to
                            <i>.../{entity}/view</i>
                        </li>
                    </ul>
                </dd>
                <dt>
                    .../{entity}/{uuid}[.{format}]
                </dt>
                <dd>
                    Returns a web page displaying a list of entities
                    <ul>
                        <li>
                            <i>entity</i> = [project | product]
                        </li>
                        <li>
                            <i>uuid</i> = a valid UUID
                        </li>
                        <li>
                            <i>format</i> = [<strong>json</strong> | xml | html]
                        </li>
                    </ul>
                </dd>
                <dt>
                    .../{entity}/{uuid}/[view]
                </dt>
                <dd>
                    Returns a web page for a single entity
                    <ul>
                        <li>
                            <i>entity</i> = [project | product]
                        </li>
                        <li>
                            <i>uuid</i> = a valid UUID
                        </li>
                        <li>
                            Note: a request to <i>.../{entity}/{uuid}/</i> will redirect to
                            <i>.../{entity}/{uuid}/view</i>
                        </li>
                    </ul>
                </dd>
                <dt>
                    .../{uuid}[.{format}]
                </dt>
                <dd>
                    Returns a single entity corresponding to the supplied uuid,
                    in the desired format
                    <ul>
                        <li>
                            <i>uuid</i> = a valid UUID
                        </li>
                        <li>
                            <i>format</i> = [<strong>json</strong> | xml | html]
                        </li>
                    </ul>
                </dd>
            </dl>
        </div>
    </div>
</div>
{% endblock %}
