<!DOCTYPE html>
<html>
    <head>
        <title>{% block title '' %} - My Silex Application</title>

        {% block stylesheet %}
            {% stylesheets
            filter='lessphp,csscopyfile, ?cssmin, ?csscompress'
            'vendor/twbs/bootstrap/less/bootstrap.less'
            'vendor/saxulum/saxulum-bootstrap-provider/src/Saxulum/SaxulumBootstrapProvider/Resources/less/form.less'
            'assets/css/main.less'
            %}
            <link rel="stylesheet" href="assets/{{ asset( asset_url )}}" />
            {% endstylesheets %}
        {% endblock stylesheet %}

        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-XXXXXXXX-X']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
    </head>
    <body>
        {% block content %}{% endblock %}
        {% block javascript %}
            {% javascripts
            filter='?jsmin'
            'vendor/jquery/jquery/*.js'
            %}
            <script type="text/javascript" src="assets/{{ asset( asset_url )}}"></script>
        {% endjavascripts %}
        {% endblock javascript %}
    </body>
</html>
